:host {
  display: block;
}
.rating {
  text-align: center;
  color: white;
  font-weight: 600;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  line-height: 30px;
  font-size: 13px;
  @media (min-width: 845px) { 
    width: 32px;
    height: 32px;
    border-radius: 32px;
    line-height: 32px;
  }

  &.lg {
    height: 36px;
    width: 36px;
    border-radius: 36px;
    line-height: 36px;
    font-size: 15px;

    @media (min-width: 845px) { 
      height: 56px;
      width: 56px;
      border-radius: 56px;
      line-height: 56px;
      font-size: 20px;
    }
  }

  &.score-10,
  &.score-9 {
    background-color: rgb(6, 117, 49);
  }
  &.score-8 {
    background-color: rgb(136, 184, 4);
  }
  &.score-7,
  &.score-6 {
    background-color: rgb(223, 226, 41);
    color: black;
  }
  &.score-5,
  &.score-4,
  &.score-3,
  &.score-2,
  &.score-1 {
    background-color: rgb(128, 0, 0);
  }
}