.rating {
  text-align: center;
  width: 38px;
  height: 38px;
  color: white;
  border-radius: 20px;
  line-height: 38px;
  font-weight: 600;

  &.lg {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    line-height: 50px;
    font-size: 20px;
  }

  &.score-10,
  &.score-9 {
    background-color: rgb(6, 117, 49);
  }
  &.score-8 {
    background-color: rgb(136, 184, 4);
  }
  &.score-7,
  &.score-6 {
    background-color: rgb(223, 226, 41);
    color: black;
  }
  &.score-5,
  &.score-4,
  &.score-3,
  &.score-2,
  &.score-1 {
    background-color: rgb(128, 0, 0);
  }
}