.movie-card {
  position: relative;
  app-movie-rating-pill {
    position: absolute;
    right: 7px;
    top: 7px;
    z-index: 1;
  }
  img {
    width: 220px;
    height: 330px;
    margin: 0.5px;
    // filter: grayscale(0.8);
    // filter: blur(10px);
  
    &:hover {
      filter: grayscale(0);
    }
  }
}