<form (ngSubmit)="submit()" [formGroup]="form" class="d-flex flex-column">
  <mat-form-field appearance="outline">
    <mat-label>Genres</mat-label>
    <mat-select [multiple]="true" formControlName="genres">
      <mat-select-trigger>
        {{selectedGenres?.[0]?.name || ''}}
        <span *ngIf="(selectedGenres?.length || 0) > 1">
          (+{{(selectedGenres?.length || 0) - 1}} {{selectedGenres?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let genre of genres$ | async" [value]="genre">{{genre.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <hr>
  <mat-form-field appearance="outline">
    <mat-label>Not theseGenres</mat-label>
    <mat-select [multiple]="true" formControlName="nonGenres">
      <mat-select-trigger>
        {{selectedNonGenres?.[0]?.name || ''}}
        <span *ngIf="(selectedNonGenres?.length || 0) > 1">
          (+{{(selectedNonGenres?.length || 0) - 1}} {{selectedNonGenres?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let genre of genres$ | async" [value]="genre">{{genre.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <hr>
  <div class="d-flex flex-column">
    <label>Year Range</label>
    <mat-slider
        class="rating"
        max="2023"
        min="1900"
        step="1"
        [discrete]="true"
        [showTickMarks]="true">
      <input matSliderStartThumb formControlName="yearMin">
      <input matSliderEndThumb formControlName="yearMax">
    </mat-slider>
  </div>
  
  <hr>
  <div class="d-flex flex-column">
    <label>Rating Range</label>
    <mat-slider
        class="rating"
        [max]="10"
        [min]="0"
        [step]="0.1"
        [discrete]="true"
        [showTickMarks]="true">      
      <input matSliderStartThumb formControlName="ratingMin">
      <input matSliderEndThumb formControlName="ratingMax">
    </mat-slider>
  </div>
  
  <hr>
  <div class="d-flex flex-column">
    <label>Minimum Vote Count</label>
    <mat-slider
        class="rating"
        [max]="10000"
        [min]="1"
        [step]="100"
        [discrete]="true"
        [showTickMarks]="true">      
      <input matSliderThumb formControlName="minimumVoteCount">
    </mat-slider>
  </div>
  <hr>
  <div class="d-flex flex-column">
    <label>Runtime Range</label>
    <mat-slider
        class="rating"
        [max]="220"
        [min]="70"
        [step]="1"
        [discrete]="true"
        [showTickMarks]="true">      
      <input matSliderStartThumb formControlName="runtimeMin">
      <input matSliderEndThumb formControlName="runtimeMax">
    </mat-slider>
  </div>
  <hr>
  <mat-form-field appearance="outline">
    <mat-label>Sort By</mat-label>
    <mat-select formControlName="sortBy">
      <mat-option *ngFor="let option of sortByOptions" [value]="option.value">{{option.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <hr>
  <!-- <div>
    <mat-checkbox formControlName="includeAdult">Include Adult</mat-checkbox>
  </div> -->

  <button mat-raised-button color="primary" type="submit">Submit</button>
  <hr>
  <ng-container *ngIf="totalResults$ | async as totalResults">
    <p>Total Results: {{totalResults}}</p>
  </ng-container>
</form>
<!-- 
<pre>
  {{ form.value | json }}
</pre> -->

