.rating {
  text-align: center;
  width: 32px;
  height: 32px;
  color: white;
  border-radius: 20px;
  line-height: 32px;
  font-weight: 600;

  &.score-10 {
    background-color: rgb(6, 117, 49);
  }
  &.score-9 {
    background-color: rgb(105, 143, 45);
  }
  &.score-8 {
    background-color: rgb(136, 184, 4);
  }
  &.score-7 {
    background-color: rgb(180, 177, 13);
  }
  &.score-6 {
    background-color: rgb(128, 119, 0);
  }
  &.score-5 {
    background-color: rgb(141, 82, 4);
  }
  &.score-4,
  &.score-3,
  &.score-2,
  &.score-1 {
    background-color: rgb(128, 0, 0);
  }
}