
<mat-sidenav-container class="example-container" >
    <mat-sidenav opened mode="side" [fixedInViewport]="true" #sidenav>
        <!-- <h1>Movie Night </h1>
        <button mat-raised-button (click)="sidenav.toggle()"><mat-icon></mat-icon></button> -->
        <app-search></app-search>
    </mat-sidenav>
    <!-- <mat-sidenav 
        opened 
        mode="side" 
        position="end"
        [fixedInViewport]="true">
        End content
    </mat-sidenav> -->
    
    <router-outlet></router-outlet>
</mat-sidenav-container>
