<div class="movie-results" [class.has-selection]="selectedMovie$ | async">
  @for (movie of movieResults$ | async; track movie) {
    <div
      [routerLink]="[{ outlets: { details: ['movie', movie.id] } }]"
      [queryParams]="{ closeable: true }"
      [class.selected]="movie.id === (selectedMovie$ | async)?.id">
      <app-movie-card [movie]="movie" expandable></app-movie-card>
    </div>
  }
</div>
@if (canLoadMore$ | async) {
  <div appObserveVisibility (visible)="loadMore()">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
}
