:host {
  display: block;
}
.movie-card {
  position: relative;
  &:hover {
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
    .movie-card-overlay {
      opacity: 0.9;
    }
  }
  .movie-card-image {
    position: relative;
    app-movie-rating-pill {
      position: absolute;
      right: -10px;
      top: -10px;
      z-index: 1;
    }
    img {
      width: 220px;
      height: 330px;
      margin: 0.5px;
    }
  }
  .movie-card-overlay {
    padding: 1rem;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    // background-color: rgba(0,0,0,0.8);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7455357142857143) 0%, rgba(0,0,0,0.8547794117647058) 24%, rgba(0,0,0,0.6530987394957983) 46%, rgba(0,0,0,0.014443277310924318) 78%);
    color: white;
    display: flex;
    align-items: flex-end;
    .title {
      font-size: 15px;
    }
    .genre {
      margin-right: 6px;
      color: #aaa;
    }
    
    .overview {
      margin-top: 0.5rem;
      max-height: 150px;
      color: #aaa;
      overflow: hidden;
    }
  }
  &.sm {
    .movie-card-image {
      border-radius: 5px;
      overflow: hidden;
      app-movie-rating-pill {
        right: 7px;
        top: 7px;
      }
      img {
        width: 133px;
        height: 210px;
      }
    }
    .movie-card-overlay {
      .genre, .overview {
        display: none;
      }
    }
  }
}
