<ng-container *ngIf="movie$ | async as movie">
  <div class="movie-details">
    <div class="content">
      <div class="inner d-flex flex-column justify-content-between">
        <div class="d-flex align-items-center justify-content-between mb-5">
          <h1 class="m-0">{{movie.title}} ({{movie.releaseDate | date: 'y'}})</h1>
          <app-movie-rating-pill [rating]="movie.voteAverage" size="lg"></app-movie-rating-pill>
        </div>
        <div>
          <p class="overview pt-2 mb-4">{{movie.overview}}</p>
          <mat-chip-listbox>
            <mat-chip-option *ngFor="let genre of movie.genres">
              {{ genre.name }}
            </mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div class="image-backdrop" [style.background-image]="'url(' + movie.backdrop + ')'">
        </div>
      </div>
    </div>
    <div class="additional">
      <!-- <app-movie-watch-providers [watchProviders]="rentalOptions$ | async">Rental Options</app-movie-watch-providers>
      <hr> -->
      <app-movie-watch-providers [watchProviders]="streamingOptions$ | async">Streaming Options</app-movie-watch-providers>
      <hr>
      <p>Top Billed Cast</p>
      <div class="d-flex align-items-center">
        <ng-container *ngFor="let credit of castMembers$ | async">
          <a [routerLink]="['/find-a-movie', { outlets: { details: ['credit', credit.id] } }]">
            <app-cast-member-card [credit]="credit" size="sm"></app-cast-member-card>
          </a>
        </ng-container>
      </div>
      <hr>
      <p>You might also like...</p>
      <div class="d-flex align-items-center">
        <ng-container *ngFor="let movie of similarMovies$ | async">
          <a [routerLink]="['/find-a-movie', { outlets: { details: ['movie', movie.id] } }]">
            <app-movie-card [movie]="movie" size="sm"></app-movie-card>
          </a>
        </ng-container>
      </div>
      <hr>
      <div class="extra">
        <ng-container *ngIf="director$ | async as director">
          <p>Director: {{director.name}}</p>
        </ng-container>
        <p>Release Date: {{movie.releaseDate | date}}</p>
        <p>Runtime: {{movie.runtime}}</p>
        <p>Revenue: {{movie.revenue | currency}}</p>
        <p>Budget: {{movie.budget | currency}}</p>
      </div>
    </div>
  </div>

</ng-container>